/* ------------------------Responsive navbar------------------------- */
/* For medium device */
@media screen and (min-width:577px) and (max-width:992px) {
    .navbar{
        max-width: 90%;
    }
}
/*For small device*/
@media screen and (max-width:576px){
    .navbar{
        max-width: 90%;
    }
    .nav-item{
        display: none;
    }
    .nav-hamburger{
        display: block;
        color: rgba(255, 255, 255)
    }
}
/* ------------------------------Responsive header-------------------------- */
/* For medium device */
@media screen and (min-width:577px) and (max-width:992px) {
    header .banner{
        flex-direction: column;
    }
}
/* For small device */
@media screen and (max-width:576px){
    header .banner{
        flex-direction: column;
    }
    .banner .banner-left {
        max-width: 100%;
        margin-left: 10px;
    }
    .banner .banner-left .fit-title{
        width: 100%;
    }
    .banner .banner-left .fit-description {
        width: 90%;
    }
    .prym-btn{
        display: none;
    }
    .phone-btn{
        display: block;
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 600;
        padding: 14px 25px 14px 25px;
        border-radius: 42px;
        background: rgb(230, 83, 60);
        border: none;
    }
    .nrml-btn{
        padding: 14px 20px 14px 20px;
        border-radius: 42px;
        margin-left: 0px;
        margin-left: 10px;
    }
    .btn-container{
        display: flex;
    }
    .banner .banner-right {
        margin-left: 0px;
        margin-top: 150px;
        width: 100%;
    }
    .card-1{
        transform: translate(200px, 40px);
    }
    .card-2{
        transform: translate(20px,175px);
    }  
}
/* ------------------Responsive change habit section-------------------------- */
/* For medium device */
@media screen and (min-width:577px) and (max-width:992px) {
    .change-habit{
        width:566px;
        height:850px;
        margin: 0 auto;
        /* border: 2px solid yellowgreen; */
        margin-top: 600px;
    }
    .habit-title{
        margin-bottom: 15px;
    }
    .habit-subtitle{
        margin-bottom: 100px;
    }
    .habit-item{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        gap: 30px;
    }
    .habit{
        width: 65%;
        margin-left: 18%;
    }  
}
/* for small device */
@media screen and (max-width:576px) {
    .change-habit{
        margin-top: 600px;
        width: 100%;
    }
    .habit-title{
        max-width: 95%;
        /* border: 2px solid red; */
    }
    .habit-item{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
        align-items: center;
    }
    .habit{
        width: 180px;
        margin-left: 28%;
    } 
}